<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inquiry Response</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .header {
        background-color: #0073e6;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
      .content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
      }
      .message {
        margin-top: 20px;
      }
      .signature {
        text-align: right;
        margin-top: 20px;
        font-style: italic;
        color: #666;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Inquiry Response</h1>
      </div>
      <div class="content">
        <p>Hello <%= name %>,</p>
        <p>
          Thank you for getting in touch with us. We have received your inquiry
          and will get back to you as soon as possible. Below is a summary of
          the information you provided:
        </p>
        <ul>
          <li><strong>Name:</strong> <%= name %></li>
          <li><strong>Phone No.:</strong> <%= number %></li>
          <li><strong>Email Address:</strong> <%= email %></li>
        </ul>
        <p><strong>Message:</strong></p>
        <div class="message"><%= message %></div>
        <p>
          We appreciate your interest and look forward to assisting you. If you
          have any further questions or require additional information, please
          don't hesitate to reach out to us.
        </p>
        <p class="signature" style="font-size: 14px">
          Best regards,<br />Blueway Trading Company
        </p>
      </div>
    </div>
  </body>
</html>
